// ==============================================================
// COLORS
// ==============================================================

// Primary Colors
$link-color-2: hsl(7, 99%, 70%);
$link-color-1: hsl(51, 100%, 49%);
$graphic-design-color: hsl(167, 40%, 24%);
$photography-color: hsl(198, 62%, 26%);
$footer-color: hsl(168, 34%, 41%);
$footer-bg-color: #90d4c5;
$contact-hover-color: #6eceff;

// Neutral Colors:
$dark-desaturated-blue: hsl(212, 27%, 19%);
$dark-grayish-blue: hsl(213, 9%, 39%);
$dim-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: white;
